* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: white; }

h1 {
  font-family: "Baloo Bhai", cursive;
  color: #4495ce85; }

.container {
  width: 90%; }

section .container {
  margin: 3em 0em; }
  @media (min-width: 768px) {
    section .container {
      width: 70%; } }
  section .container h1 {
    margin-bottom: 1em; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  background-image: url("../images/bg-image1.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw; }
  @media (min-width: 1300px) {
    header {
      font-size: 1.5rem; } }
  header .overlay {
    background: black;
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.6152836134) 71%, rgba(0, 0, 0, 0.5984768908) 100%);
    width: 100%;
    height: 100%;
    flex-direction: column; }
    header .overlay .container {
      flex-direction: column;
      height: 94%;
      justify-content: flex-end; }
      header .overlay .container #hamburger-icon {
        font-size: 2em;
        position: absolute;
        top: .2em;
        right: .5em; }
        @media (min-width: 768px) {
          header .overlay .container #hamburger-icon {
            display: none; } }
        header .overlay .container #hamburger-icon:hover {
          cursor: pointer; }
      header .overlay .container .header-content {
        flex-direction: column;
        width: 100%;
        height: 70%;
        justify-content: space-between;
        text-shadow: 0px 5px 4px black; }
        header .overlay .container .header-content .col1 {
          flex-direction: column;
          text-align: center; }
          @media (min-width: 768px) {
            header .overlay .container .header-content .col1 {
              flex-direction: row;
              text-align: left;
              margin-top: 3em; } }
          header .overlay .container .header-content .col1 .profile-img {
            border: .2em solid white;
            border-radius: 50%; }
          @media (min-width: 768px) {
            header .overlay .container .header-content .col1 .header-text {
              margin-left: 2em; } }
        header .overlay .container .header-content .fa {
          font-size: 2em;
          margin-bottom: 0.5em; }
          header .overlay .container .header-content .fa:hover {
            cursor: pointer; }

nav {
  display: none; }
  @media (min-width: 768px) {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1em;
      border-radius: 4px; }
      nav ul {
        list-style: none;
        display: flex;
        width: 40%;
        justify-content: space-around; }
        nav ul li:hover {
          color: #4495ce85;
          cursor: pointer;
          transition: ease-in-out .3s;
          -webkit-transition: ease-in-out .3s;
          -moz-transition: ease-in-out .3s;
          -ms-transition: ease-in-out .3s;
          -o-transition: ease-in-out .3s; }
          nav ul li:hover:active {
            color: #4495ce85; }
      nav .link-logos {
        width: 16%;
        justify-content: space-around; }
        nav .link-logos .gh-logo {
          border-radius: 50%;
          color: white; }
        nav .link-logos img {
          height: 40px;
          width: 40px; }
          nav .link-logos img:hover {
            box-shadow: 0 0 3px 3px #4495ce85;
            -webkit-transition: ease-in-out .3s;
            -moz-transition: ease-in-out .3s;
            -ms-transition: ease-in-out .3s;
            -o-transition: ease-in-out .3s; } }

@media (min-width: 768px) {
  .phone-nav {
    display: none; } }

.about-me {
  color: gray; }
  .about-me .container .text, .about-me .container .technologies {
    flex-direction: column;
    width: 50%;
    height: 400px;
    padding: 2em;
    margin: 2em;
    background: #dfdfdf; }
  .about-me .container .text {
    align-self: stretch; }
  .about-me .container .technologies .icons {
    flex-wrap: wrap;
    width: 100%; }
    .about-me .container .technologies .icons i {
      color: #4495ce85;
      font-size: 6em;
      margin-left: 0.2em; }
  .about-me .container .technologies .row-1 {
    margin-bottom: 1em; }
  .about-me .container .technologies .row-1, .about-me .container .technologies .row-2 {
    flex-wrap: wrap; }

.my-work {
  flex-direction: column; }
  .my-work .container {
    flex-direction: column;
    width: 90%; }
    @media (min-width: 1700px) {
      .my-work .container {
        width: 80%; } }
    .my-work .container .carousel {
      flex-wrap: wrap; }
      .my-work .container .carousel .card {
        flex-direction: column;
        box-shadow: 1px 2px 6px #00000052;
        border-radius: 10px;
        width: 90%;
        margin: 1em;
        max-width: 450px; }
        @media (min-width: 1300px) {
          .my-work .container .carousel .card {
            max-width: 564px; } }
        .my-work .container .carousel .card .card-top {
          height: 400px;
          width: 100%; }
        .my-work .container .carousel .card .card-bottom {
          flex-direction: column;
          width: 100%;
          background-color: #f9f8f8; }
          @media (min-width: 400px) {
            .my-work .container .carousel .card .card-bottom {
              height: 300px; } }
          .my-work .container .carousel .card .card-bottom .container {
            margin: 1em 0em; }
            .my-work .container .carousel .card .card-bottom .container h1 {
              margin: 1em 0em 0em 0em;
              text-align: center; }
            .my-work .container .carousel .card .card-bottom .container p {
              color: gray;
              padding: 1em;
              text-align: center; }
            .my-work .container .carousel .card .card-bottom .container .button {
              color: white;
              background: #4495ce85;
              width: 100%;
              padding: 10px;
              text-align: center;
              text-decoration: none;
              margin-bottom: 1em;
              border-radius: 10px;
              box-shadow: 1px 2px 6px #00000052;
              width: 80%;
              margin-bottom: 1em; }
              .my-work .container .carousel .card .card-bottom .container .button:hover {
                cursor: pointer; }
        .my-work .container .carousel .card .rebel-site {
          background-image: url("../images/rebel.png"); }
        .my-work .container .carousel .card .simon-site {
          background-image: url("../images/simon.png"); }
        .my-work .container .carousel .card .to-do-site {
          background-image: url("../images/to-do.png"); }
        .my-work .container .carousel .card .xenon-site {
          background-image: url("../images/xenon.png"); }

footer {
  display: block;
  background: black;
  background: #1e799d; }

/*# sourceMappingURL=main.css.map */
