* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: white; }
  @media (min-width: 900px) {
    body {
      font-size: 1.6em; } }

h1 {
  font-family: "Baloo Bhai", cursive; }

.container {
  width: 90%; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  background-image: url("../images/bg-image1.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw; }
  header .overlay {
    background: black;
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.6152836134) 71%, rgba(0, 0, 0, 0.5984768908) 100%);
    width: 100%;
    height: 100%;
    flex-direction: column; }
    header .overlay .container {
      flex-direction: column;
      height: 90%;
      justify-content: flex-end; }
      @media (min-width: 900px) {
        header .overlay .container {
          justify-content: space-between; } }
      header .overlay .container #hamburger-icon {
        font-size: 2em;
        position: absolute;
        top: .2em;
        right: .5em; }
        @media (min-width: 900px) {
          header .overlay .container #hamburger-icon {
            display: none; } }
      header .overlay .container .header-content {
        flex-direction: column;
        width: 100%;
        height: 80%;
        justify-content: space-between;
        text-shadow: 0px 5px 4px black; }
        header .overlay .container .header-content .col1 {
          flex-direction: column;
          text-align: center; }
          @media (min-width: 900px) {
            header .overlay .container .header-content .col1 {
              flex-direction: row;
              text-align: left;
              margin-top: 3em; } }
          header .overlay .container .header-content .col1 .profile-img {
            border: 0.2em solid #4495ce85;
            border-radius: 50%; }
          header .overlay .container .header-content .col1 .header-text {
            margin-left: 2em; }
            header .overlay .container .header-content .col1 .header-text h1 {
              color: #c85132; }
        header .overlay .container .header-content .fa {
          font-size: 48px; }
          header .overlay .container .header-content .fa:hover {
            cursor: pointer; }

nav {
  display: none; }
  @media (min-width: 900px) {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      nav ul {
        list-style: none;
        display: flex;
        width: 53%;
        justify-content: space-around;
        font-size: 1rem; }
        nav ul li:hover {
          color: #c85132;
          cursor: pointer;
          transition: ease-in-out .3s;
          -webkit-transition: ease-in-out .3s;
          -moz-transition: ease-in-out .3s;
          -ms-transition: ease-in-out .3s;
          -o-transition: ease-in-out .3s; }
          nav ul li:hover:active {
            color: #c85132; }
      nav .link-logos {
        width: 24%;
        justify-content: space-around; }
        nav .link-logos .gh-logo {
          border-radius: 50%; }
        nav .link-logos img {
          height: 40px;
          width: 40px; }
          nav .link-logos img:hover {
            box-shadow: 0 0 3px 3px #c85132;
            -webkit-transition: ease-in-out .3s;
            -moz-transition: ease-in-out .3s;
            -ms-transition: ease-in-out .3s;
            -o-transition: ease-in-out .3s; } }

@media (min-width: 900px) {
  .phone-nav {
    display: none; } }

/*# sourceMappingURL=main.css.map */
