$paragraph-font:'Roboto', sans-serif;
$headers-font:'Baloo Bhai', cursive;
$header-font: 'Nunito', sans-serif;

$main:#4495ce85;
$other-blue:#656ff3;
$accent:#c85132;
$blue-color:#1e799d;
$background:#dfdfdf;
$main-shadow:1px 2px 6px #00000052;
$orange-linear:linear-gradient(118deg, rgba(0,0,0,1) 0%, rgba(200,81,48,1) 0%, rgba(29,29,29,1) 100%);

$large-phone:400px;
$desktop:768px;
$med-desktop:1300px;
$large-desktop:1700px;

@mixin large-phone {
    @media(min-width:#{$large-phone}){
        @content;
    }
}

@mixin desktop {
    @media(min-width:#{$desktop}){
        @content;
    }
}

@mixin med-desktop(){
    @media(min-width:#{$med-desktop}){
        @content;
    }
}

@mixin large-desktop(){
    @media(min-width:#{$large-desktop}){
        @content;
    }
}



//////RE SIZE CONTAINER AS WIDTH OF VIEWPORT CHANGES////////////////////







////////GLOBAL STYLES/////////////////
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $paragraph-font;
    color:white;
    background-color:white;

}

h1{
    font-family:$headers-font;
    color:$main;
}




.container{
    width:90%;

}

section{
    .container{
        margin: 3em 0em;

        @include desktop(){
            width:70%;
        }
        

        h1{
            margin-bottom: 1em;
        }
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat; 
}



//////////HEADER////////////////

header{
    background-image:url("../images/bg-image1.jpg");
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

    @include med-desktop(){
        font-size:1.5rem;
    }

    .overlay{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6152836134453781) 71%, rgba(0,0,0,0.5984768907563025) 100%);
        width: 100%;
        height:100%;
        flex-direction: column;

        .container{
            flex-direction: column;
            height: 94%;
            justify-content: flex-end;


            #hamburger-icon{
                font-size: 2em;
                position: absolute;
                top: .2em;
                right: .5em;

                @include desktop(){
                    display:none;
                }

                &:hover{
                    cursor: pointer;
                }
            }

            .header-content{
                flex-direction: column;
                width: 100%;
                height: 70%;
                justify-content: space-between;
                text-shadow: 0px 5px 4px black;

                .col1{
                    flex-direction: column;
                    text-align: center;                    

                    @include desktop(){
                        flex-direction: row;
                        text-align: left;
                        margin-top: 3em;
                    }

                    .profile-img{
                        border: .2em solid white;
                        border-radius: 50%;
                    }

                    .header-text{

                        @include desktop(){
                            margin-left: 2em;
                        }
                    }
                }

                .fa{
                    font-size: 2em;
                    margin-bottom: 0.5em;


                    &:hover{
                        cursor: pointer;
                    }

                }
    
            }
        }
    }
}

//////////NAV/////////////////////
nav{
    display:none;

    @include desktop(){
        // background: rgb(0,0,0);
        // background: linear-gradient(118deg, rgba(0,0,0,1) 0%, rgba(200,81,48,1) 0%, rgba(29,29,29,1) 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        border-radius: 4px;



        ul{
            list-style: none;
            display: flex;
            width: 40%;
            justify-content: space-around;
            // font-size: 1rem;

            li{
                &:hover{
                    color:$main;
                    cursor: pointer;
                    transition: ease-in-out .3s;
                    -webkit-transition: ease-in-out .3s;
                    -moz-transition: ease-in-out .3s;
                    -ms-transition: ease-in-out .3s;
                    -o-transition: ease-in-out .3s;

                    &:active{
                        color:$main;
                    }
                }
            }
        }

        .link-logos{
            width: 16%;
            justify-content: space-around;

            .gh-logo{
                border-radius: 50%;
                color:white;
            }

            img{
                height:40px;
                width:40px;

                &:hover{
                    box-shadow: 0 0 3px 3px $main;
                    -webkit-transition: ease-in-out .3s;
                    -moz-transition: ease-in-out .3s;
                    -ms-transition: ease-in-out .3s;
                    -o-transition: ease-in-out .3s;
                }
            }
        }

    }
}


.phone-nav{
    @include desktop(){
        display:none;
    }
}


/////////////////ABOUT ME////////////////////

.about-me{
    color:gray;
    background-color:$background;
    
    .container{
        flex-direction: column;
        text-align: center;
        margin-top: 3em;



        @include desktop(){
            font-size:1.2em;

        }
    }
}

/////////MY WORK/////////////////////////////////////////////


.my-work{
    flex-direction: column;
    // border:1px solid black;
    
    .container{
        flex-direction: column;
        width:100%;

        @include large-desktop(){
            width:80%;
        }


        .carousel{
            // flex-direction: column;
            flex-wrap: wrap;
            // justify-content:space-around;

            .card{
                flex-direction: column;
                box-shadow: $main-shadow;
                border-radius: 10px;
                width: 90%;
                margin: 1em;
                max-width: 450px;    
                
                @include med-desktop(){
                    max-width: 564px;
                }

                .card-top{
                    // background-image: url("../images/rebel.png");
                    // border: 1px solid black;
                    height: 400px;
                    width: 100%;
                }

                .card-bottom{
                    flex-direction: column;
                    width: 100%;
                    background-color:#f9f8f8;

                    @include large-phone(){
                        height:300px;
                    }

                    .container{
                        margin: 1em 0em;

                        h1{
                            margin:1em 0em 0em 0em;
                            text-align: center;
                        }

                        p{
                            color: gray;
                            padding: 1em;
                            text-align: center;
                        }

                        .button{
                            color:white;
                            background:$main;
                            width: 100%;
                            padding: 10px;
                            text-align: center;
                            text-decoration: none;
                            margin-bottom: 1em;
                            border-radius: 10px;
                            box-shadow: $main-shadow;
                            width: 80%;


                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }

                .rebel-site{
                    background-image: url("../images/rebel.png");
                }

                .simon-site{
                    background-image: url("../images/simon.png");
                }

                .to-do-site{
                    background-image:url("../images/to-do.png");
                }

                .xenon-site{
                    background-image:url("../images/xenon.png");
                }
            }
        }
    }
}






//////////////TECHNOLOGIES///////////////////////

.technologies{
background: $background;

    .container{
        justify-content: space-around;
        flex-direction: column;

        h1{
            margin: 2em 0em 1em 0em;
        }


        .icons{
            flex-wrap:wrap;
            width: 100%;

            i{
                color:$main;
                font-size: 6em;
                margin-left:0.2em;
            }
        }
    }
}

.row-1{
    margin-bottom: 1em;
}

.row-1, .row-2{
    flex-wrap:wrap;
}






/////////FOOTER///////////////////////////////////////////// 

footer{
    display:block;
    background: rgb(0,0,0);
    background: $orange-linear
}