$paragraph-font:'Roboto', sans-serif;
// $header-font:'Baloo Bhai', cursive;
$header-font: 'Nunito', sans-serif;

$main:#4495ce85;
$accent:#c85132;
$blue-color:#1e799d;

$large-phone:400px;
$desktop:768px;
$med-desktop:1300px;

@mixin large-phone {
    @media(min-width:#{$large-phone}){
        @content;
    }
}

@mixin desktop {
    @media(min-width:#{$desktop}){
        @content;
    }
}

@mixin med-desktop(){
    @media(min-width:#{$med-desktop}){
        @content;
    }
}



//////RE SIZE CONTAINER AS WIDTH OF VIEWPORT CHANGES////////////////////







////////GLOBAL STYLES/////////////////
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $paragraph-font;
    color:white;
    background-color:white;

}

h1{
    font-family:$header-font;
    color:$blue-color;
}




.container{
    width:90%;

}

section{
    .container{
        margin: 3em 0em;

        @include desktop(){
            width:70%;
        }
        

        h1{
            margin-bottom: 1em;
        }
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat; 
}



//////////HEADER////////////////

header{
    background-image:url("../images/bg-image1.jpg");
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

    @include med-desktop(){
        font-size:1.5rem;
    }

    .overlay{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6152836134453781) 71%, rgba(0,0,0,0.5984768907563025) 100%);
        width: 100%;
        height:100%;
        flex-direction: column;

        .container{
            flex-direction: column;
            height: 94%;
            justify-content: flex-end;


            #hamburger-icon{
                font-size: 2em;
                position: absolute;
                top: .2em;
                right: .5em;

                @include desktop(){
                    display:none;
                }

                &:hover{
                    cursor: pointer;
                }
            }

            .header-content{
                flex-direction: column;
                width: 100%;
                height: 70%;
                justify-content: space-between;
                text-shadow: 0px 5px 4px black;

                .col1{
                    flex-direction: column;
                    text-align: center;                    

                    @include desktop(){
                        flex-direction: row;
                        text-align: left;
                        margin-top: 3em;
                    }

                    .profile-img{
                        border: .2em solid white;
                        border-radius: 50%;
                    }

                    .header-text{

                        @include desktop(){
                            margin-left: 2em;
                        }
                    }
                }

                .fa{
                    font-size: 2em;
                    margin-bottom: 0.5em;


                    &:hover{
                        cursor: pointer;
                    }

                }
    
            }
        }
    }
}

//////////NAV/////////////////////
nav{
    display:none;

    @include desktop(){
        background: rgb(0,0,0);
        background: linear-gradient(118deg, rgba(0,0,0,1) 0%, rgba(200,81,48,1) 0%, rgba(29,29,29,1) 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        border-radius: 4px;



        ul{
            list-style: none;
            display: flex;
            width: 40%;
            justify-content: space-around;
            // font-size: 1rem;

            li{
                &:hover{
                    color:$accent;
                    cursor: pointer;
                    transition: ease-in-out .3s;
                    -webkit-transition: ease-in-out .3s;
                    -moz-transition: ease-in-out .3s;
                    -ms-transition: ease-in-out .3s;
                    -o-transition: ease-in-out .3s;

                    &:active{
                        color:$accent;
                    }
                }
            }
        }

        .link-logos{
            width: 16%;
            justify-content: space-around;

            .gh-logo{
                border-radius: 50%;
                color:white;
            }

            img{
                height:40px;
                width:40px;

                &:hover{
                    box-shadow: 0 0 3px 3px $accent;
                    -webkit-transition: ease-in-out .3s;
                    -moz-transition: ease-in-out .3s;
                    -ms-transition: ease-in-out .3s;
                    -o-transition: ease-in-out .3s;
                }
            }
        }

    }
}


.phone-nav{
    @include desktop(){
        display:none;
    }
}


/////////////////ABOUT ME////////////////////

.about-me{
    color:gray;
    
    .container{
        flex-direction: column;
        text-align: center;
        margin-top: 3em;



        @include desktop(){
            font-size:1.2em;

        }
    }
}


//////////////TECHNOLOGIES///////////////////////

.technologies{
    // background-color: #47474a;

    .container{
        justify-content: space-around;
        flex-direction: column;


        .icons{
            flex-wrap:wrap;
            width: 100%;

            i{
                color:$accent;
                font-size: 4em;
                margin-left:0.2em;
            }
        }
    }
}

.row-1{
    margin-bottom: 1em;
}

.row-1, .row-2{
    flex-wrap:wrap;
}



/////////FOOTER///////////////////////////////////////////// 

footer{
    display:block;
    background: rgb(0,0,0);
    background: linear-gradient(118deg, rgba(0,0,0,1) 0%, rgba(200,81,48,1) 0%, rgba(29,29,29,1) 100%);
}