$paragraph-font:'Roboto', sans-serif;
$header-font:'Baloo Bhai', cursive;

$large-phone:400px;
$desktop:900px;

@mixin large-phone {
    @media(min-width:#{$large-phone}){
        @content;
    }
}

@mixin desktop {
    @media(min-width:#{$desktop}){
        @content;
    }
}



//////RE SIZE CONTAINER AS WIDTH OF VIEWPORT CHANGES////////////////////







////////GLOBAL STYLES/////////////////
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: $paragraph-font;
    color:white;


    @include desktop(){
        font-size: 1.6em;
    }
}

h1{
    font-family:$header-font;
}




.container{
    width:90%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat; 
}



//////////HEADER////////////////

header{
    background-image:url("../images/bg-image1.jpg");
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

    .overlay{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6152836134453781) 71%, rgba(0,0,0,0.5984768907563025) 100%);
        width: 100%;
        height:100%;
        flex-direction: column;

        .container{
            flex-direction: column;
            height:90%;
            justify-content: flex-start;

            #hamburger-icon{
                font-size: 2em;
                position: absolute;
                top: .2em;
                right: .5em;

                @include desktop(){
                    display:none;
                }
            }

            .header-content{
                flex-direction: column;
                width: 100%;
                height:100%;
                justify-content: space-between;

                .col1{
                    flex-direction: column;
                    margin-top: 6em;
                    text-align: center;
                    
                    @include large-phone(){
                        margin-top: 16em;
                    }

                    @include desktop(){
                        flex-direction: row;
                        text-align: left;
                    }

                    .profile-img{
                        border: .2em solid white;
                        border-radius: 50%;
                    }

                    .header-text{
                        margin-left: 2em;
                    }
                }

                .fa{
                    font-size: 48px;

                }
    
            }
        }
    }
}

//////////NAV/////////////////////
nav{
    display:none;

    @include desktop(){
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;


        ul{
            list-style: none;
            display: flex;
            width: 52%;
            justify-content: space-around;
            /* border: 1px solid white; */
        }

        .link-logos{
            width: 24%;
            justify-content: space-around;

            img{
                height:60px;
                width:60px;
            }
        }

    }
}


.phone-nav{
    @include desktop(){
        display:none;
    }
}


/////////////////ABOUT ME////////////////////

// .about-me{
//     background-image:url("../images/bg-image1.jpg");
//     background-attachment: fixed;

//     .overlay{
//         background:#000000ad;
//     }

//     .container{
//         flex-direction: column;
//         padding: 4em 0em;
//     }
// }

